<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="/font-awesome/all.min.css")
    body
        span Hi! This is me just doing some testing with PUG
        i.fa.fa-cog.fa-4x.fa-spin